<div class="row">
 <div class="col-md-12">
 <h2>Employees <a href="/employees/add" class="btn btn-success pull-right">Add New Employee</a>
</h2>
 <hr/>
<div  class = "tableresponsive"> 
    <table class="table" >
    <tr> 
                <th> Employee Num</th>
                <th> Full Name </th>
                <th> Email </th>
                <th> Address </th>
                 <th> Manager ID </th>
                  <th>Status </th>
                   <th> Department </th>
                    <th> Hired On</th>
            </tr>
 {{#each employees}}
   <tr> 
 <td> {{employeeNum}}</td>
  <td> <a href="/employee/{{employeeNum}}">{{firstName}} {{lastName}}</a> </td>
 <td><a href="mailto:{{email}}">{{email}}</a></td>
 <td>{{addressStreet}} , {{addressState}},{{addressPostal}}</td>
 {{#unless isManager }}
 
 <td><a href="/employees?manager={{employeeManagerNum}}">{{employeeManagerNum}}</a></td>
 {{else}}
 
  <td>  </td>
 
 {{/unless}}
 
 <td><a href="/employees?status={{status}}">{{status}}</a></td>
 <td><a href="/employees?department={{department}}">{{department}}</a></td>
 <td>{{hireDate}}</td>
<td><a href="/employees/delete/{{employeeNum}}" class="btn btn-danger">Remove</a></td>
</tr>
{{else}}
<div class="col-md-12 text-center">
 <strong>{{message}}</strong>
</div>

 {{/each}}
 </table>
 </div>
 </div>
</div>